/* BASES */

@import "base/mixins";
@import "base/normalize";
@import "base/base";
@import "base/variables";



/* COMPONENTS */

@import "components/navigation";
@import "components/grid";
@import "components/sections";
@import "components/typography";
@import "components/buttons";
@import "components/backgrounds";
@import "components/breakpoints";
@import "components/forms";

/* General use styles */

.visuallyhidden 
{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Button / Link Icons */

.glyphicon
{
	float:left;
	margin-right: .625em;
	color: $font-color-light;
}

/* Links */

a
{
	width:100%;
	height:100%;

	color: $font-color-light;

	
}

/* Header */

.header
{
	background-color: $background-color;
}
