
$color-primary-0: #0A5B7A;
$color-primary-1: #FFFFFF;
$color-primary-2: #41A7CE;
$color-primary-3: #011218;
$color-primary-4: #000000;

$rgba-primary-0: rgba(10, 91,122,1);
$rgba-primary-1: rgba(201,240,255,1);
$rgba-primary-2: rgba(65,167,206,1);
$rgba-primary-3: rgba(1, 18, 24,1);
$rgba-primary-4: rgba(0,  0,  0,1);

$font-color-light: $color-primary-1;
$font-color-dark: $color-primary-3;
$background-color: $color-primary-0;
$hover-color: $color-primary-2;

$alert: #FF0000;